<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4">
            <app-sidenavigation (subCategoryClicked)="onSelectSubCategory($event)"></app-sidenavigation>
        </div>
        <div class="col-l   g-10 col-md-9 col-sm-8">
            <app-products></app-products>
        </div>
    </div>
</div> -->

<div class="product-gallery">
  <app-sidenavigation class="sidebar" (subCategoryClicked)="onSelectSubCategory($event)"></app-sidenavigation>
  <div class="product-list">
    <app-products></app-products>
  </div>
</div>

C:\Users\HP\Desktop\angular\greenpark-server
C:\Users\HP\Desktop\angular\new-green-park